* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html, body, #root{
    height: 100%;
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
    background-color: #f0f0f2;
    padding: 25px 0 50px 0;
}

header {
    background-color: #f0f0f2;
}

.breadcrumbs{
    
    margin: 20px auto;
    
}

.breadcrumbs > * {
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb::after{
    content: '>';
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child::after{
    display: none;
}

.breadcrumbs .crumb a{
    color: #000;
    text-decoration: underline !important;
}

ul{
    
    padding-left: 0 !important;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none !important;
    transition: all .3s ease-in-out;
}

a:hover{
    color: #9434bd;
}



a.purple, button.purple{
    background-color: #7b1fa2 !important;
    border-color: #7b1fa2 !important;
    transition: all .3s ease-in-out;
    color: #fff;
}

a.purple:hover, button.purple:hover{
    background-color: #4a148c !important;
    border-color: #4a148c !important;
    color: #fff;
}

a.card-title{
    text-decoration: none;
    font-weight: 800;
}

.card{
    border: 1px solid #e0e4e8 !important;
}

.card__btn-block{
    text-align: right;
    
}

.card__btn-block a{
    font-size: 16px;
}

.card__category{
    text-align: center;
    background: #ce93d8;
    color: #fff;
    padding: 0.3rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.card img.card-img-top {
    height: 350px;
    object-fit: cover;
    border-radius: 0;
    transition: all .3s ease-in-out;
}

.card img.card-img-top:hover{
    filter: opacity(0.6);
}

p.card__category.card-text{
    margin-bottom: 0;
}

p.card__date{
    font-size: 12px;
    color: #747474
}

.card__right{
    padding: 1rem;
}

.card__address{
    font-size: 14px;
    color: #747474;
}

.event__detail.card{
    flex-direction: row;
}


.event__detail.card img.card-img-left {
    max-width: 300px;
}


.sold_out{
    color: #fff;
    background-color: #7b1fa2;
    text-align: center;
}

.home__page .react-multiple-carousel__arrow{
    background: rgba(0,0,0,1);
}

.purchase__form{
    padding: 1rem 1rem 0.1rem 1rem;
    background-color: #e0e4e8;
    border-radius: 5px;
}

/* ORGANIZER */

.org__block .card{
    padding: 1rem;
    text-align: center;
    transition: all .3s ease-in-out;
}

.org__block div.bg-success:hover{
    background-color: #096439 !important;
}

.org__block div.bg-warning:hover{
    background-color: #d29d02 !important;
}

.org__block div.bg-danger:hover{
    background-color: #b21323 !important;
}

.org__block .card.text-white a{
    color: #fff;
}


/* media */

@media only screen and (max-width: 990px) {
    .event__detail.card{
        flex-direction: column;
    }

    .event__detail.card .card-header{
        text-align: center;
    }

    .search__top{
        margin: 2rem 0;
    }
}
