html, body, #root{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
    background-color: #f0f0f2;
    padding: 50px 0;
}


button.purple{
    background-color: #7b1fa2 !important;
    border-color: #7b1fa2 !important;
    transition: all .3s ease-in-out;
}

button.purple:hover{
    background-color: #4a148c !important;
    border-color: #4a148c !important;
}

.card__btn-block{
    text-align: right;
}

.card__category{
    text-align: center;
    background: #ce93d8;
    color: #fff;
    padding: 0.3rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.card img.card-img-top {
    height: 350px;
    object-fit: cover;
    border-radius: 0;
}

p.card__category.card-text{
    margin-bottom: 0;
}


.home__page .react-multi-carousel-item{
    /* margin: 0 0.3rem; */
}
